
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;

}
html,body,#root{
  
  background:#FBFBFB;
}
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.cashierContainer{
  display:flex;
  flex-direction: row;
}
.cashier{
  margin:1em;
  padding:1em;
  
 
  display:flex;
  flex-direction: column;
  align-items: center;
}

.cashier button{
  margin:0.2em
}
.newTicketContainer{
  display: flex;
  flex-direction: column;
}
.newTicketContainer button{
  margin:1em;
}

.content{
  display:flex;
}
.queuesContainer{
  display: flex;
}
.queueContent{
  margin:0em 3em;
}
.queue{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.queue *{
  margin:0.3em;
}

body,input,button,textarea{
  font-family: 'Roboto',sans-serif;
}